.formContainer {
  background-color: var(--background-color);
  backdrop-filter: blur(3px);
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px -1px 12px 1px rgb(0 0 0 / 65%), 0 2px 4px -2px rgb(0 0 0);
  width: clamp(300px, 90vw, 500px);
  box-sizing: border-box;
  border: 1px solid var(--border-color)
}

.title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.inputsGroup {
  margin-bottom: 22px;
}

.serverError {
  background-color: rgba(220, 38, 38, 0.1);
  color: var(--error-color);
  border: 1px solid rgba(220, 38, 38, 0.2);
  border-radius: 0.375rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.875rem;
}