.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  font-family: "Martian Mono", monospace;
  font-weight: 400;
  flex: 1;
  padding: 0.75rem;
  padding-right: 40px;
  border: var(--border);
  background-color: var(--background-color);
  border-radius: 0.375rem;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  text-shadow: var(--text-shadow);
}

.input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(var(--rgb-border-color), 0.2);
}

.input:hover {
  border-color: var(--border-color-hover);
}

input:-internal-autofill-selected {
  text-shadow: var(--text-shadow);
}

.inputError {
  border-color: var(--error-color);
}

.inputError:hover {
  border-color: var(--error-color-hover);
}

.inputError:focus-visible {
  border-color: var(--error-color);
  box-shadow: 0 0 0 3px rgba(220, 38, 38, 0.2);
}

.rightAddon {
  position: absolute;
  right: 10px;
  z-index: 1;
}

.errorMessage {
  min-height: 18px;
  margin: 0.25rem 0 0;
  font-family: "Google Sans Code", monospace;
  font-style: italic;
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--error-color-hover);
  letter-spacing: -0.5px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 2px;
}