@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Martian+Mono:wght@100..800&display=swap');

:root {
    color-scheme: dark;
    --rgb-bg-button: 102, 63, 76;
    --error-color: rgba(220, 38, 38, 0.8);
    --error-color-hover: rgba(220, 38, 38, 1);
    --rgb-border-color: 254, 254, 255;
    --border-color: rgba(var(--rgb-border-color), 0.275);
    --border-color-hover: rgba(var(--rgb-border-color), 0.4);
    --border: 1px solid var(--border-color);
    --text-color: #ffffff;
    --background-color: rgba(0, 0, 0, 0.5);
    --text-shadow: 2px 2px 4px rgb(0, 0, 0);
}


body {
    margin: 0;
    display: flex;
    place-items: center;
    font-family: "Martian Mono", monospace;
    background-image: url(../assets/photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    justify-content: center;
    height: 100vh;
}
