:root {
    --primary-color: #6d28d9;
    --primary-color-hover: #5b21b6;
    --error-color: #dc2626;
    --border-color: #fefeff46;
    --border-focus-color: #8b5cf6;
    --text-color: #ffffff;
    --background-color: rgba(0, 0, 0, 0.5);
    --text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Martian+Mono:wght@100..800&display=swap');

body {
    margin: 0;
    font-family: "Martian Mono", monospace;
    background-image: url(../assets/photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    letter-spacing: 1px;
    justify-content: center;
    height: 100vh;
}
