.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.content {
    background: #105e0a;
    padding: 24px 32px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 90%;
}

.body {
    font-size: 1.1rem;
}