.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.logoWrapper {
  cursor: url('../../assets/cursor-small.svg'), pointer;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 67px;
}

.logoImage,
.logoImageHover {
  position: absolute;
  transition: opacity 0.4s ease;
}

.logoImage {
  filter: drop-shadow(2px 4px 6px rgba(255, 255, 255, 0.4));
}

.logoImageHover {
  opacity: 0;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
}

.logoWrapper:hover .logoImageHover {
  opacity: 1;
}

.logoWrapper:hover .logoImage {
  opacity: 0;
}

.infoText {
  color: rgba(var(--rgb-bg-button), 1);
  text-shadow: 0px 0px 4px rgb(255 255 255);
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.copyableItem {
    position: relative;
    cursor: pointer;
    padding-right: 24px;
    display: inline-block;
    transition: color 0.2s;
}

.copyableItem:hover {
    color: rgb(0, 0, 0);
}

.copyIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clipboardIcon {
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 14px;
}

.copyableItem:hover .clipboardIcon {
    opacity: 1;
}

.checkIcon {
    color: #28a745;
    font-weight: bold;
    font-size: 16px;
    animation: fadeCheck 0.5s;
}

@keyframes fadeCheck {
    0% { transform: scale(0.8); opacity: 0; }
    70% { transform: scale(1.2); }
    100% { transform: scale(1); opacity: 1; }
}